*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#loading {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 32px;
    height: 32px;
    /* 1/2 of the height and width of the actual gif */
    margin: -16px 0 0 -16px;
    z-index: 100;
    }
nav {
    display: flex;
    align-items: baseline;
    padding: 20px 40px;
    border-bottom: 2px solid red;
}

section{
    border-bottom: 2px solid red;

}
.nav__right {
    display: flex;
    gap: 30px;
    align-items: baseline;
}

.nav__link {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    position: relative;
}

/* right */
.line::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -2px;
    height: 1px;
    background-color: black;
    transition: width 0.3s ease-in-out;
    width: 0;
}

/*left*/
.line::after {
    content: "";
    position: absolute;
    right: 50%;
    bottom: -2px;
    height: 1px;
    background-color: black;
    transition: width 0.4s ease-in-out;
    width: 0;
}

.line:hover::before {
    width: 50%;
}

.line:hover::after {
    width: 50%;
}

/*split nav*/
nav :first-child {
    margin-right: auto;
}

.nav__button {
    border: 1px solid purple;
    background-color: transparent;

    padding: 10px;
    color: purple;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color .5s;

}


.nav__button:hover{
    background-color: rgb(228, 221, 239);
    

}

.hidden {
    display: none;

}

.block {
    display: block;
}

.padding {
    padding: 50px;
}


.nav__right a {
    opacity: 0;
    animation: fadeIn 0.5s cubic-bezier(0.1, -0.6, 0.2, 0) forwards;
}

.text-fadeIn{
    opacity: 0;
    animation: fadeIn 0.5s cubic-bezier(0.1, -0.6, 0.2, 0) forwards;

}

.nav__right a:nth-child(1) {
    animation-delay: 0.2s;
}

.nav__right a:nth-child(2) {
    animation-delay: 0.4s;
}

.nav__right a:nth-child(3) {
    animation-delay: 0.6s;
}

.nav__right a:nth-child(4) {
    animation-delay: 0.8s;
}

.nav__right a:nth-child(5) {
    animation-delay: 1s;
}

#contact{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.set{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
}

.skill>img{
    width: 30px;
}
.skill{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
}
form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form__input{
    display: flex;
    flex-direction: column;
    
}

.form__input>input,
.form__input>textarea
{
    border: none;
    margin-top:8px ;
    border-bottom: 1px solid black;
}

.form__input>*:focus{
    outline:none;
}

.form__input:focus>label{
    color: aqua;
}
@media (max-width: 768px) {
    nav {
        padding: 30px;
    }

    .nav__right {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        display: none;
        position: relative;
        top: 50px;
        right: 50px;
        z-index: 3;
    }

    .nav__menu {
        display: block;
    }

    .overlay {
        height: 100vh;
        width: 75%;
        background-color: red;
        position: absolute;
        z-index: 1;
        right: 0;
        top: 0;
        animation: slide-in .7s linear;
    }

    @keyframes slide-in {
        from {
            transform: translateX(250px);
        }

        to {
            transform: translateX(0px);
        }
    }

    @keyframes slide-out {
        from {
            transform: translateX(0px);
        }

        to {
            transform: translateX(300px);
        }
    }

    .slide-out {
        animation: slide-out 0.7s linear forwards;
    }

    main.blur {
        filter: blur(5px);
    }


    .nav__x {
        position: absolute;
        right: 30px;
        top: 30px;
        z-index: 2;
    }

}

@media (min-width: 768px) {

    .nav__x,
    .nav__menu {
        display: none !important;
    }

    .nav__right {
        display: flex !important;
    }
}